{% extends "layout.html" %}


{% block contain %}
            <a id="features"></a>
			<div class="row height1">
                <div class="product_text">
                    <div class="span5"><span style="padding-right:87px;">Template:</span>
                        <div class="btn-group margain-left1">
                            <button id="TemplateID" type="button" class="btn btn-primary" style="width:200px;" data-toggle="dropdown">&nbsp;</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul id="TemplateIDWapper" class="dropdown-menu" style="width:200px;text-align:center;" role="menu">
                            </ul>
                        </div>
                    </div>                  
                    <div class="span4 text-right">
						<a id="AddMachine" href="javascript:void(0)" role="button" class="btn btn-danger">送出目前機台設定</a>
                    </div>
                </div>
            </div>
            <div id="EquipmentEditorDiv">
				
			</div>
{% endblock contain %}

{% block JavaScript %}
<script>
	var TemplateList=[];
	var CurrentProtocolType;
	var d = new Date();
	var EditMachineID='{{machineID}}';
	var EditMachinePotocolType='';
	var EditMachineObj;
	var ServerMachineObj;
	$(function() {
		if(EditMachineID=='')
		{
			SetupAllTemplateSelection();
			$("#RemoveMachine").hide();
		}
		else
		{
			GetPotocolType();
		}
		$("#AddMachine").click(function(){
			var SubmitData=GetFinalDataObj();
			if(SubmitData!=null)
			{
				UpdateMachine(SubmitData);
			}
		});
	});
	function GetPotocolType(){
		for(var ProtocolTypeArrayIndex in ProtocolTypeArray){
				var ProtocolType=ProtocolTypeArray[ProtocolTypeArrayIndex];
				var URL=QonfigConfigEquipmentsURL.replace('{ProtocolType}',ProtocolType);
				axios.get(URL,{params: {protocoltype:ProtocolType }})
				.then(function (response) {
					var DataResult=response.data;
					
					for(var DataResultIndex in DataResult){	
						if(DataResult[DataResultIndex].equipment)
						{
							if(DataResult[DataResultIndex].equipment.equipmentId==EditMachineID)
							{
								ServerMachineObj=response.data;
								EditMachinePotocolType=response.config.params.protocoltype;
								CurrentProtocolType=EditMachinePotocolType;
								EditMachineObj=DataResult[DataResultIndex];
								SetupEditUI();
								break;
							}
						}
						else if(DataResult[DataResultIndex].equipments)
						{
							if(DataResult[DataResultIndex].equipments[0].equipmentId==EditMachineID)
							{
								ServerMachineObj=response.data;
								EditMachinePotocolType=response.config.params.protocoltype;
								CurrentProtocolType=EditMachinePotocolType;
								EditMachineObj=DataResult[DataResultIndex];
								SetupEditUI();
								break;
							}
						}
					}
				});
		}
	}
	function SetupAllTemplateSelection(){
		for(var ProtocolTypeArrayIndex in ProtocolTypeArray){
			var URL=EquipmentTemplateList.replace('{protocoltype}',ProtocolTypeArray[ProtocolTypeArrayIndex])+'?'+d.getTime();
			axios.get(URL,{params: {protocoltype: ProtocolTypeArray[ProtocolTypeArrayIndex]}})
			.then(function (response) {
				var DataResult=response.data;
				for(var DataResultIndex in DataResult){    
					DataResult[DataResultIndex]["ProtocolType"]=response.config.params.protocoltype;
				}
				if(TemplateList.length>0)
				{
					TemplateList=DataResult.concat(TemplateList);
				}
				else
				{
					TemplateList=DataResult;
				}
				var TemplateSelectionHTML='';
				for(var i=0;i<TemplateList.length;i++)
				{
					TemplateSelectionHTML+="<li><a ProtocolType='"+TemplateList[i].ProtocolType+"' name='TemplateIDOption' href='#'>"+TemplateList[i].templateId+"</a></li>";
				}
				$("#TemplateIDWapper").html(TemplateSelectionHTML);
				$("a[name='TemplateIDOption']").bind('click', function (event) {
					$("#TemplateID").html(this.innerText);
					CurrentProtocolType=this.attributes["ProtocolType"].nodeValue;
					EditMachineID='';
					EditMachineObj=null;
					LoadEquipmentEditor();
				});
			}); 
        }
	}
	function LoadEquipmentEditor(){
		$( "#EquipmentEditorDiv" ).html("");
		axios.get(EquipmentConfiguration.replace('{protocoltype}',CurrentProtocolType),{params: {protocoltype: CurrentProtocolType}})
			.then(function (response) {
				ServerMachineObj=response.data;
				$( "#EquipmentEditorDiv" ).load( "/static/html/"+CurrentProtocolType+"-equipment-editor.html?d="+d.getTime());
		});
		
		
	};
	function SetupEditUI(){
		SetupAllTemplateSelection();
		LoadEquipmentEditor();
	}
	
	function UpdateMachine(SubmitData){

			//put all equipment to server
			var SubmitJsonStringData=JSON.stringify(SubmitData);
			$.ajax({
			type: "PUT",
			contentType: "application/json",
			dataType: "json",
			data: SubmitJsonStringData,
			url: QonfigConfigEquipmentsURL.replace('{ProtocolType}',CurrentProtocolType),
			statusCode : {
					200: function (data, textStatus, jqxhr) {
							alert( "更新完成!!");
							window.location.href = "/monitor";
							return;
						},
					204: function (data, textStatus, jqxhr) {
							alert( "更新完成!!");
							window.location.href = "/monitor";
							return;
						},
					400: function (data, textStatus, jqxhr) {
							alert(data.message);
						},
					500: function (data, textStatus, jqxhr) {
							alert(data.statusText);
						}

				}
			});
	}
	function CheckIDPattern(inputtxt) {
		var ID_rule = /^[a-zA-Z].{2,}$/;
		if(inputtxt.match(ID_rule)) {
			return true;
		}
		else {
			return false;
		}
	}
	
	
</script>
{% endblock JavaScript %}
