{% extends "layout.html" %}


{% block contain %}
            <a id="features"></a>
            <!--============== Main Features ==============-->
			<div class="row-fluid height1">
                <div class="product_text">
                    <div class="span4">
                        <span style="padding-right:75px;">Protocol Type:</span>
                        <div class="btn-group margain-left1">
                            <button id="ProtocolType" type="button" class="btn btn-primary" style="width:200px;" data-toggle="dropdown">111</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul id="ProtocolTypeUL" class="dropdown-menu" style="width:200px;text-align:center;" role="menu">
                                
                            </ul>
                        </div>
                    </div>

                    <div class="span4">
                    </div>


                    <div class="span4 text-right" style="padding-top:10px;">
                        <a id="AddTemplate" href="javascript:void(0)" role="button" class="btn btn-danger">送出Template</a>
                    </div>

                </div>
            </div>
            <div id="TemplateEditorDiv">
				
			</div>
{% endblock contain %}

{% block JavaScript %}
<script>
	var CommandArray=[];
	var ChannelArray=[];
	var EditTemplateID='{{templateID}}';
	var EditTemplateProtocoltype='{{protocoltype}}';
	$(function() {
		UISetting();
		LoadTemplateEditor();
		

		$("#AddTemplate").click(function(){
			var SubmitData=GetPageDataObj();
			//$("#test").html(JSON.stringify(SubmitData));
			if(EditTemplateID=='')
			{
				EditTemplateProtocoltype=$("#ProtocolType").html().toLowerCase();
				AddNewTemplate(SubmitData);
			}
			else
			{
				
				UpdateTemplate(SubmitData);
			}
		});
	});
	function UISetting(){
		if(EditTemplateProtocoltype=='')
		{
			$("#ProtocolType").html(ProtocolTypeArray[0].toUpperCase());
			for(var ProtocolTypeArrayIndex in ProtocolTypeArray){
				$("#ProtocolTypeUL").append("<li><a name='ProtocolTypeOption' href='#'>"+ProtocolTypeArray[ProtocolTypeArrayIndex].toUpperCase()+"</a></li>")
			}
			$("a[name='ProtocolTypeOption']").bind('click', function (event) {
				$("#ProtocolType").html(this.innerText.toUpperCase());
				LoadTemplateEditor();
			});
		}
		else
		{
			$("#ProtocolType").html(EditTemplateProtocoltype.toUpperCase());
			$("#ProtocolType").html(EditTemplateProtocoltype.toUpperCase());
		}
		
		
	};
	function LoadTemplateEditor(){
		$( "#TemplateEditorDiv" ).html("");
		$( "#TemplateEditorDiv" ).load( "/static/html/"+$("#ProtocolType").html().toLowerCase()+"-template-editor.html", function() {
		});
	};
	function UpdateTemplate(SubmitData){
		var SubmitJsonStringData=JSON.stringify(SubmitData);
		//console.log(SubmitJsonStringData);
		$.ajax({
			type: "PUT",
			contentType: "application/json",
			dataType:'json',
			url: QonfigConfigTemplatesURL.replace('{ProtocolType}',EditTemplateProtocoltype).replace('{templateId}',EditTemplateID),
			data: SubmitJsonStringData,
			statusCode : {
				200: function (data, textStatus, jqxhr) {
						alert( "更新完成!!");
						window.location.href = "/templatelist";
						return;
					},
				500: function (data, textStatus, jqxhr) {
						alert(data);
					}

			}
		});

	}
	function AddNewTemplate(SubmitData){
		var SubmitJsonStringData=JSON.stringify(SubmitData);
		//console.log(SubmitJsonStringData);
		$.ajax({
			type: "POST",
			contentType: "application/json",
			dataType:'json',
			url: QonfigConfigCreateTemplatesURL.replace('{ProtocolType}',EditTemplateProtocoltype),
			data: SubmitJsonStringData,
			statusCode : {
				204: function (data, textStatus, jqxhr) {
						alert( "新增完成!!");
						window.location.href = "/templatelist";
						return;
					},
				500: function (data, textStatus, jqxhr) {
						alert(data);
					}

			}
		});
	}
	
</script>
{% endblock JavaScript %}
