{% extends "layout.html" %}


{% block contain %}
            <a id="features"></a>
			<div class="row height1">
                <div class="product_text">
                    <div class="span5"><span style="padding-right:87px;">Template:</span>
                        <div class="btn-group margain-left1">
                            <button id="TemplateID" type="button" class="btn btn-primary" style="width:200px;" data-toggle="dropdown">&nbsp;</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul id="TemplateIDWapper" class="dropdown-menu" style="width:200px;text-align:center;" role="menu">
                            </ul>
                        </div>
                    </div>                  
                    <div class="span4 text-right">
						<a id="AddMachine" href="javascript:void(0)" role="button" class="btn btn-danger">新增機台</a>
                    </div>
                </div>
            </div>
            <div id="EquipmentEditorDiv">
				
			</div>
{% endblock contain %}

{% block JavaScript %}
<script>
	var TemplateList=[];
	var CurrentProtocolType;
	var d = new Date();
	var EditMachineID='{{machineID}}';
	var EditMachinePotocolType='';
	var EditMachineObj;
	$(function() {
		if(EditMachineID!='')
		{
			GetPotocolType();
		}
		$("#AddMachine").click(function(){
			var SubmitData=GetPageDataObj();
			if(CheckIDPattern($("#EquipmentId").val()))
			{
				if(EditMachineID=='')
				{
					//no new 
				}
				else
				{
					UpdateMachine(SubmitData);
				}
			}
			else
			{
				alert("ID需以英文開頭!!");
			}
			
		});
	});
	function GetPotocolType(){
		for(var ProtocolTypeArrayIndex in ProtocolTypeArray){
				var ProtocolType=ProtocolTypeArray[ProtocolTypeArrayIndex];
				var URL=QonfigConfigEquipmentsURL.replace('{ProtocolType}',ProtocolType);
				axios.get(URL,{params: {protocoltype:ProtocolType }})
				.then(function (response) {
					var DataResult=response.data;
					for(var DataResultIndex in DataResult){	
						if(DataResult[DataResultIndex].equipment)
						{
							if(DataResult[DataResultIndex].equipment.equipmentId==EditMachineID)
							{
								EditMachinePotocolType=response.config.params.protocoltype;
								CurrentProtocolType=EditMachinePotocolType;
								EditMachineObj=DataResult[DataResultIndex];
								SetupEditUI();
								break;
							}
						}
						else if(DataResult[DataResultIndex].equipments)
						{
							if(DataResult[DataResultIndex].equipments[0].equipmentId==EditMachineID)
							{
								EditMachinePotocolType=response.config.params.protocoltype;
								CurrentProtocolType=EditMachinePotocolType;
								EditMachineObj=DataResult[DataResultIndex];
								SetupEditUI();
								break;
							}
						}
					}
				});
		}
	}
	function SetupTemplateSelection(){
			var URL=EquipmentTemplateList.replace('{protocoltype}',CurrentProtocolType)+'?'+d.getTime();
			axios.get(URL,{params: {protocoltype: CurrentProtocolType}})
			.then(function (response) {
				var DataResult=response.data;
				for(var DataResultIndex in DataResult){	
					DataResult[DataResultIndex]["ProtocolType"]=response.config.params.protocoltype;
				}
				if(TemplateList.length>0)
				{
					TemplateList=DataResult.concat(TemplateList);
				}
				else
				{
					TemplateList=DataResult;
				}
				var TemplateSelectionHTML='';
				for(var i=0;i<TemplateList.length;i++)
				{
					TemplateSelectionHTML+="<li><a ProtocolType='"+TemplateList[i].ProtocolType+"' name='TemplateIDOption' href='#'>"+TemplateList[i].templateId+"</a></li>";
				}
				$("#TemplateIDWapper").html(TemplateSelectionHTML);
				$("a[name='TemplateIDOption']").bind('click', function (event) {
					$("#TemplateID").html(this.innerText);
					CurrentProtocolType=this.attributes["ProtocolType"].nodeValue;
					LoadEquipmentEditor();
				});
			}); 
		
	}
	function LoadEquipmentEditor(){
		$( "#EquipmentEditorDiv" ).html("");
		$( "#EquipmentEditorDiv" ).load( "/static/html/"+CurrentProtocolType+"-equipment-editor.html?d="+d.getTime(), function() {
		});
	};
	function SetupEditUI(){
		$("#AddMachine").html("更新機台");
		SetupTemplateSelection();
		LoadEquipmentEditor();
	}
	
	
	function UpdateMachine(SubmitData){
		var SubmitJsonStringData=JSON.stringify(SubmitData);
		$.ajax({
		  type: "PUT",
		  contentType: "application/json",
		  dataType: "json",
		  data: SubmitJsonStringData,
		  url: QonfigConfigEquipmentsURL.replace('{ProtocolType}',CurrentProtocolType),
		  statusCode : {
				200: function (data, textStatus, jqxhr) {
						alert( "更新完成!!");
						window.location.href = "/monitor";
						return;
					},
				204: function (data, textStatus, jqxhr) {
						alert( "更新完成!!");
						window.location.href = "/monitor";
						return;
					},
				500: function (data, textStatus, jqxhr) {
						alert(data);
					}

			}
		})
	}
	function CheckIDPattern(inputtxt) {
		var phoneno = /^[a-zA-Z].*$/;
		if(inputtxt.match(phoneno)) {
			return true;
		}
		else {
			return false;
		}
	}
	
	
</script>
{% endblock JavaScript %}
