<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{WebInfo.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <!--==============GOOGLE FONT - OPEN SANS=================-->
    <link href="/static/css/google-fonts.css" rel="stylesheet" />

    <!--==============MAIN CSS FOR COMING SOON PAGE=================-->


    <link href="/static/css/hosting.css" rel="stylesheet" media="all">
    <link href="/static/css/dropzone.min.css" rel="stylesheet" media="all">
    <link href="/static/css/selectize.bootstrap2.css" rel="stylesheet" media="all">
    <script src="/static/js/dropzone.min.js"></script>
    <script src="/static/js/es6-promise.auto.min.js"></script>
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/AppConfig.js"></script>
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/js/react.min.js"></script>
    <script src="/static/js/react-dom.min.js"></script>
    <script src="/static/js/babel.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/Signal.js"></script>
    <script src="/static/js/SignalBinding.js"></script>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/HoldOn.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/lib.js"></script>
    <script src="/static/js/selectize.min.js"></script>
	<link rel="stylesheet" href="/static/css/HoldOn.min.css">
	<link rel="stylesheet" href="/static/css/theme.blue.css">
</head>

<body>
    
    <a id="home"></a>
    <!--==============HEADER =================-->
    <div class="navbar navbar-fixed-top navbar-absolute">

        <div class="navbar-inner">
            <div class="container">

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

                <!-- Be sure to leave the brand out there if you want it shown -->
                <a id="WebTitle" class="brand" href="/monitor">{{WebInfo.Title}}</a><button type="button" class="admin btn btn-info btn-lg" data-toggle="modal" data-target="#TitleEditor">Edit Title</button>


                
                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <!-- .nav, .navbar-search, .navbar-form, etc -->

                    <ul id="NavigationBar" class="nav pull-right">
                        <li><a href="/monitor">生產監控</a></li>
                        <li><a href="/history">生產查詢</a></li>
                        <li class="admin"><a href="/tablist">TAB管理</a></li>
                        <li class="admin"><a href="/machinelist">機台管理</a></li>
                        <li class="admin"><a href="/templatelist">樣版管理</a></li>
                        <li id="login"><a href="/login">Login</a></li>
                        <li id="logout" class="admin"><a href="#">Logout</a></li>
                        <li>
                            <div> 
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td id="td_date" class="time">2016/12/12</td>
                            </tr>
                            <tr>
                                <td id="td_time" class="text-right time">12:12:12</td>
                            </tr>
                            </table></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TitleEditor" role="dialog" style="margin-left:35%">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Title Editor</h4>
            </div>
            <div class="modal-body">
                <p><input id="inputNewTitle" value="{{WebInfo.Title}}"></p>
            </div>
            <div class="modal-footer">
                <button id="SubmitChangeTitle" type="button" class="btn btn-default" data-dismiss="modal">Submit Change</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>


    <!--==============Content Area=================-->
    <div>
        <div class="container content_height">
            {% block contain %}{% endblock contain %}
        </div>
        <div class="footer">
            <div class="container">

                <div class="row-fluid copyright">
                    <div class="pull-right"><p id="WebFooter">{{WebInfo.Title}}</p></div>
                    <p>Copyright &copy; 2017. </p>

                </div>
            </div>
        </div>
    </div>
	{% block NextContainer %}{% endblock NextContainer %}

    <!--==============BOOTSTRAP JS=================-->

    <script src="/static/js/bootstrap.js"></script>
	<script>
        var d = new Date();
		$().ready(function(){
            if(Cookies.get('webname'))
            {
                SetupTitle(Cookies.get('webname'));
            }
            else
            {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: webconfigURL+'?'+d.getTime()
                }).done(function( Data ) {
                    SetupTitle(Data.webname);
                    Cookies.set('webname', Data.webname);
                    Cookies.set('tabdata', JSON.stringify(Data.tabdata));
                });
            }
            setInterval(ShowTime, 500);
            if(Cookies.get('access_token'))
            {
                $("#login").hide();
                $( "li.admin" ).show();
                $( "button.admin" ).show();
                
            }
            else
            {
                if(window.location.href.indexOf("history")==-1&&
                window.location.href.indexOf("monitor")==-1&&
                window.location.href.indexOf("login")==-1)
                {
                    window.location.replace("/monitor");
                }
            }
            $("#logout").click(function(){
                Cookies.remove('access_token');
                window.location.replace("/monitor");
            });

            $("#SubmitChangeTitle").click(function(){
                var webconfig={
                    "webname": $("#inputNewTitle").val(),
                    "tabdata": JSON.stringify(Cookies.getJSON('tabdata'))
                };
                Cookies.set('webname',$("#inputNewTitle").val())
                SetupTitle($("#inputNewTitle").val());
                $.ajax({
                    type: "PUT",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(webconfig),
                    url: webconfigURL,
                    statusCode : {
                        400: function (data, textStatus, jqxhr) {
                                alert("failed!!(400)");
                            }
                    }
                });
            });
        });
        function SetupTitle(title){
            if(title && title !='undefined')
            {
                document.title=title;
                $("#WebTitle").html(title);
                $("#WebFooter").html(title);
                $("#inputNewTitle").val(title);
            }
        }
		function ShowTime(){
			var currentdate = new Date(); 
			var dateString = currentdate.getFullYear() +"/" +padLeft((currentdate.getMonth()+1),2)
				+ "/" +padLeft(currentdate.getDate(),2);
			var timeString = padLeft(currentdate.getHours(),2) + ":" + padLeft(currentdate.getMinutes(),2) + ":" 
                + padLeft(currentdate.getSeconds(),2);
			$("#td_date").html(dateString);
			$("#td_time").html(timeString);
		}
		function padLeft(str,lenght){
			if(str.toString().length >= lenght)
			return str;
			else
			return padLeft("0" +str,lenght);
		}
	</script>
    {% block JavaScript %}{% endblock JavaScript %}
    
	{% block BabelScript %}{% endblock BabelScript %}
	
</body>

</html>