{% extends "layout.html" %}


{% block contain %}
         <div id="Login" class="modal height0 LoginSignup" style="width:460px;left:35%" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <h3 id="myModalLabel">Login</h3>
            </div>
            <div class="modal-body">
                <form>
                    <input id="username" type="text" placeholder="Account">
                    <input id="password" type="password" placeholder="Password">
                    <button id="LoginButton" type="button" class="btn btn-success btn-large">Login to my Account</button>
                </form>
            </div>
        </div>


{% endblock contain %}
{% block JavaScript %}
<script>
	$(function() {
        $('a[href$="/login"]').parent().addClass("active");
        $('#LoginButton').click(function(){
            $.ajax({
			  type: "POST",
              dataType: "json",
              contentType: "application/json",
              data: JSON.stringify({ username: $("#username").val(), password: $("#password").val() }),
              url: authURL,
              statusCode : {
					401: function (data, textStatus, jqxhr) {
                            alert("Login failed!!");
						},
					500: function (data, textStatus, jqxhr) {
                            alert("System Error!!");
						}

                },
                success: function (response) {
                    var in1Hour = 1/24;
                    Cookies.set('access_token', response.access_token, {
                        expires: in1Hour
                    });
                    window.location.replace("/machinelist");
                }
            });
        });
    });
</script>
{% endblock JavaScript %}
