{% extends "layout.html" %}


{% block contain %}
            <div class="row-fluid height1">
                <div id="DataSection" class="span12">
                    
                </div>
			</div>
			


{% endblock contain %}
{% block JavaScript %}
<script>
	$(function() {
		$($("#NavigationBar li")[3]).addClass("active");
	});
</script>
{% endblock JavaScript %}
{% block BabelScript %}
<script type="text/babel">
	class DataView extends React.Component {
		constructor(props) {
			super(props);
			this.state = {
				jsondata: []
			};
		}
		componentDidMount() {
			this.GetData();
		}
		GetData(){
			var self = this;
			var d = new Date();
			for(var ProtocolTypeArrayIndex in ProtocolTypeArray){
                    var ProtocolType=ProtocolTypeArray[ProtocolTypeArrayIndex];
                    var URL=QonfigConfigEquipmentsURL.replace('{ProtocolType}',ProtocolType);
                    axios.get(URL,{params: {protocoltype:ProtocolType }})
                    .then(function (response) {
                        var DataResult=response.data;
                        for(var DataResultIndex in DataResult){	
                            if(DataResult[DataResultIndex].equipment)
                            {
								var jsondata = self.state.jsondata.slice()
								jsondata.push(DataResult[DataResultIndex].equipment.equipmentId)
								self.setState({ jsondata: jsondata })
                            }
                            else if(DataResult[DataResultIndex].equipments)
                            {
								var jsondata = self.state.jsondata.slice()
                                DataResult[DataResultIndex].equipments.forEach(function (item) {
									jsondata.push(item.equipmentId);
								});
								self.setState({ jsondata: jsondata })
                            }
                        }
                    });
            }
		}
		render() {
			var self = this;
			return (
				<table id="myTable" className="tablesorter-blue">
					<thead>
						<tr>
							<th>MachineID</th>
							<th>功能</th>
						</tr>
					</thead>
					<tbody>
						{this.state.jsondata.map(function(dataitem, i) {
						  return (
							<tr key={i}>
								<td><a href={"/editmachine/"+dataitem}>
									{dataitem}
									</a>
								</td>			
								<td className="table-function-td">
								<a href={"/editmachine/"+dataitem} role="button" className="btn btn-inverse">修改</a>&nbsp;
								</td>
							</tr>
						  );
						})}
					</tbody>
				</table>
			)
		}
	}
		

	  ReactDOM.render(
		<DataView />,
		document.getElementById('DataSection')
	  );
        
</script>
{% endblock BabelScript %}
